<template>
  <v-card class="secondary elevation-0">
    <v-card-text>
      <v-container fluid>
        <v-layout row>
          <v-flex xs4>
            <v-subheader class="grey--text text--lighten-1">Nome</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              name="input-1-3"
              label="Nome"
              single-line
              dark
            >{{ usuario.nome }}</v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader class="grey--text text--lighten-1">Sobrenome</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              name="input-2-3"
              label="Hint Text"
              class="input-group--focused"
              dark
              single-line
            >{{ usuario.sobreNome }}</v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader class="grey--text text--lighten-1">Focus</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              name="input-3-3"
              label="Hint Text"
              value="Input text"
              class="input-group--focused"
              dark
              single-line
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader class="grey--text text--lighten-1">Normal with input text</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              name="input-3-4"
              label="Hint Text"
              value="Input text"
              dark
              single-line
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader class="grey--text text--lighten-1">Error</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              name="input-3-5"
              label="Hint Text"
              value="Input text"
              v-bind:rules="[() => 'Username or Password is incorrect.']"
              class="input-group--focused"
              dark
              single-line
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader class="grey--text text--lighten-1">Disabled</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              name="input-3"
              label="Label Text"
              value="Input text"
              disabled
              dark
              single-line
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
</v-card>
</template>

<script>
export default {
 
  data () {
      return {
          usuario : {
            nome:'',
            sobreNome:'',
            dataNascimento:'',
            email:'',
            celular:'',
            celular2:''
          }
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
span {
    width: 15%;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>



<!--  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Essential Links</h2>
    <ul>
      <li><a href="https://vuejs.org" target="_blank">Core Docs</a></li>
      <li><a href="https://forum.vuejs.org" target="_blank">Forum</a></li>
      <li><a href="https://gitter.im/vuejs/vue" target="_blank">Gitter Chat</a></li>
      <li><a href="https://twitter.com/vuejs" target="_blank">Twitter</a></li>
      <br>
      <li><a href="http://vuejs-templates.github.io/webpack/" target="_blank">Docs for This Template</a></li>
    </ul>
    <h2>Ecosystem</h2>
    <ul>
      <li><a href="http://router.vuejs.org/" target="_blank">vue-router</a></li>
      <li><a href="http://vuex.vuejs.org/" target="_blank">vuex</a></li>
      <li><a href="http://vue-loader.vuejs.org/" target="_blank">vue-loader</a></li>
      <li><a href="https://github.com/vuejs/awesome-vue" target="_blank">awesome-vue</a></li>
    </ul>
  </div> -->