<template>
    <div>
        <md-input-container>
            <label>Nome</label>
            <md-input v-model="usuario.nome"></md-input>
        </md-input-container>

        <md-input-container>
            <label>SobreNome</label>
            <md-input v-model="usuario.SobreNome"></md-input>
        </md-input-container>
        
        <md-input-container>
            <label>Data Nascimento</label>
            <md-input v-model="usuario.dataNascimento"></md-input>
        </md-input-container>

        <md-input-container>
            <label>E-mail</label>
            <md-input v-model="usuario.email"></md-input>
        </md-input-container>

        <md-input-container>
            <md-icon>phone</md-icon>
            <label>Celular</label>
            <md-input type="tel" @model="usuario.celular"></md-input>
        </md-input-container>

         <md-input-container>
            <md-icon>phone</md-icon>
            <label>Celular 2</label>
            <md-input type="tel" @model="usuario.celular2"></md-input>
        </md-input-container>
        <div>
            <span>Celular 2</span>    
            <input type="text" @model="usuario.celular2">
        </div>
    </div>
</template>

<script>
export default {
 
  data () {
      return {
          usuario : {
            nome:'',
            sobreNome:'',
            dataNascimento:'',
            email:'',
            celular:'',
            celular2:''
          }
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
span {
    width: 15%;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>



<!--  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Essential Links</h2>
    <ul>
      <li><a href="https://vuejs.org" target="_blank">Core Docs</a></li>
      <li><a href="https://forum.vuejs.org" target="_blank">Forum</a></li>
      <li><a href="https://gitter.im/vuejs/vue" target="_blank">Gitter Chat</a></li>
      <li><a href="https://twitter.com/vuejs" target="_blank">Twitter</a></li>
      <br>
      <li><a href="http://vuejs-templates.github.io/webpack/" target="_blank">Docs for This Template</a></li>
    </ul>
    <h2>Ecosystem</h2>
    <ul>
      <li><a href="http://router.vuejs.org/" target="_blank">vue-router</a></li>
      <li><a href="http://vuex.vuejs.org/" target="_blank">vuex</a></li>
      <li><a href="http://vue-loader.vuejs.org/" target="_blank">vue-loader</a></li>
      <li><a href="https://github.com/vuejs/awesome-vue" target="_blank">awesome-vue</a></li>
    </ul>
  </div> -->