<template>
  <v-app id="example-2" standalone>
    <v-navigation-drawer absolute persistent light :mini-variant.sync="mini" v-model="drawer" overflow>
      <v-toolbar flat class="transparent">
        <v-list class="pa-0">
          <v-list-tile avatar tag="div">
            <v-list-tile-avatar>
              <img src="https://randomuser.me/api/portraits/men/85.jpg" />
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>John Leider</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn icon @click.native.stop="mini = !mini">
                <v-icon>chevron_left</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <v-list-tile v-for="item in items" :key="item.title">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed class="indigo darken-4" dark>
      <v-toolbar-side-icon @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Remember</v-toolbar-title>
    </v-toolbar>
    <main>
      <v-container fluid>
        <div class="title">Click on sidebar to re-open.</div>
        <cad-usuario></cad-usuario>
        
        <!--v-router-->
      </v-container>
    </main>
  </v-app>
</template>

<script>
import cadUsuario from './components/usuario/cadUsuario'

export default {
    data () {
      return {
        drawer: true,
        items: [
          { title: 'Usuário', icon: 'dashboard' },
          { title: 'About', icon: 'question_answer' },

        ],
        mini: false,
        right: null,
        components : {
           'cad-usuario': cadUsuario
        }
      }
    }
  }
</script>


<!--
<template>
  <div id="app">
      <cadUsuario></cadUsuario>
  </div>  
</template>

<script>
import cadUsuario from './components/usuario/cadUsuario'

export default {
  name: 'app',
  components : {
    'cadUsuario': cadUsuario
  }
}
</script>
-->


<!--
 
 <template>
    <div id="app">
      <img src="./assets/logo.png">
      <hello></hello>
    </div>
  </template>

  <script>
  import Hello from './components/Hello'

  export default {
    name: 'app',
    components: {
      Hello
    }
  }
  </script> -->

  <style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  </style>
